.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: var(--blue-color);
    color: var(--light-color);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.back-to-top:hover {
    background-color: var(--blue-hover-color);
    transform: scale(1.1);
}

/* ---------- Dark Mode Activated ---------- */
.dark .back-to-top {
    color: var(--dark-color);
}